// main
main {
    margin: 50px;
}
.display-4 {
    text-align: center;
}
.container-fluid {
    position: relative;
    .title_item {
        position: absolute;
        top: 40%;
        left: 40%;
        font-family: $firstFont;
    }
}
.container_flex {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h3, li {
        font-family: $secondFont;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.flex_bottons {
    display: flex;
    justify-content: center;
    align-items: center;
    a, form, button {
        padding: 10px;
    }
}
